@page "/"
@model AlphaServer.Models.ViewModels.HomeVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Web
@using AlphaServer
@{
    Layout = "_ViewImports.cshtml";
}    
    <div class="container">
    <div class="text-center">
        <button class="btn-dark" data-filter="all">All</button>
        
        @foreach (var obj in Model.Categories)
        {
            <button class="btn-outline-secondary" data-filter="@obj.Name.Replace(" ","_")">
               @obj.Name
            </button>
        }        
    </div>
</div> 

