@inherits LayoutComponentBase
@using AlphaServer.Servises;
@using Microsoft.AspNetCore.Components.Web
@inject IHttpContextAccessor HttpContextAccessor

@*<PageTitle></PageTitle>*@

<div class="page">
    
    @*<div class="navbar-toggler">*@
        <AlphaServer.Shared.NavMenu />
    @*</div>*@
    
    <main>        
@*        <div class="top-row px-4 auth">*@

@*            <AlphaServer.Shared.LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
 @*       </div>*@
@*        <article class="content px-4">
            @Body            
        </article>*@
    </main>
</div>
