<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AlphaServer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ApplicationType/Index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Application Type
            </NavLink>
        </div>
                
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Category/Index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Product/Index">
                <span class="oi oi-list-rich" aria-hidden="false"></span> Product
            </NavLink>
        </div>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenu= !expandSubMenu">
                <span class="oi oi-cart" aria-hidden="true"></span> Каталог товаров
            </NavLink>
            @if (expandSubMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Category/Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Категории товаров
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ApplicationType/Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Тип товаров
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Product/Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Список товаров
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;//add
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
