@inject IHttpContextAccessor HttpContextAccessor
@using AlphaServer.Servises;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Components.Web;
@using AlphaServer.Models
    
<nav class="navbar navbar-expand-sm bg-dark-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">AlphaMarket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item me-auto align-self-center">
                    <a class="nav-link" aria-current="page" href="Home/Index"><i class="fa-solid fa-house-chimney fa-lg"></i>&nbsp;</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="Product/Index">Товары</a>
                </li>*@

               <AuthorizeView> 
                @if (@context.User.IsInRole(WC.AdminRole))
                {                
                
                        <div class="nav-item dropdown me-auto align-self-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-screwdriver-wrench fa-lg"></i>
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item active" href="Category/Index">Категории товаров</a></li>
                        <li><a class="dropdown-item" href="ApplicationType/Index">Тип товров</a></li>
                        <li><a class="dropdown-item" href="Product/Index">Товары</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="nav-link" href="Identity/Account/Register">Новый админ</a></li>
                        </ul>
                    </div>
                }
                </AuthorizeView>
                <li>                    
                    @if (HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart) != null)
                    {
                        <a href="Cart/Index" class="nav-link">
                            @{
                                var count = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart).Count;
                            }
                            <i class="fa-solid fa-cart-shopping fa-lg" data-bs-toggle="tooltip" data-bs-placement="left" title="Корзина"></i>(@count)
                        </a>
                    }
                    else
                    {
                        <a href="Cart/Index" class="nav-link">
                            <i class="fa-solid fa-cart-shopping fa-lg" data-bs-toggle="tooltip" data-bs-placement="left" title="Корзина"></i>(0)
                        </a>
                    }
                </li> 

                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <div class="nav-item ms-auto">
                <ul class="navbar-nav">
                    <AuthorizeView>
                        <Authorized>
                            <li>
                             <a class="nav-link" href="Identity/Account/Manage">@context.User.Identity?.Name<i class="fa-solid fa-user-pen fa-lg" data-bs-toggle="tooltip" data-bs-placement="left" title="Личный кабинет"></i></a>
                            </li>
                            <li>
                              <form method="post" action="Identity/Account/Logout">
                                    <button type="submit" class="nav-link btn btn-link pt-3"><i class="fas fa-door-open fa-lg" data-bs-toggle="tooltip" data-bs-placement="left" title="Выйти из учетной записи"></i></button>
                              </form>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li><a href="Identity/Account/Login"><i class="fa-solid fa-right-to-bracket fa-lg" data-bs-toggle="tooltip" data-bs-placement="left" title="Войти"></i></a></li>&nbsp;&nbsp;
                            <li><a href="Identity/Account/Register"><i class="fa-solid fa-user-plus fa-lg" data-bs-toggle="tooltip" data-bs-placement="left" title="Регистрация"></i></a></li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>        
    </div>
</nav>



@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;        
    }
}

