@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Web

@{
    Layout = "_ViewImports";
}
<div class="text-center">
    <h1 class="text-info">Подтверждение заказа</h1>
    <p>Мы получили ваш заказ и свжемся с вами.</p>
    <img src="/images/zhdun.jpg" width="40%" />
</div>