@model AlphaServer.Models.ViewModels.ProductVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Web
@using AlphaServer
@using AlphaServer.Models.ViewModels
@{
    Layout = "_ViewImports";
}
@{
    var title = "Создать товар";
}
<form method="post" enctype="multipart/form-data">
    @if (Model.Product.Id !=0)
    {
        title = "Редактировать товар";
        <input asp-for="Product.Id" hidden />
    }
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ShortDesc"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ShortDesc" class="form-control" />
                        <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                     <div class="col-4">
                        <label asp-for="Product.Description"></label>
                     </div>
                     <div class="col-8">
                        <input asp-for="Product.Description" class="form-control" />
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                     </div>
                </div>
                <div class="form-group row">
                     <div class="col-4">
                            Фото товара
                     </div>
                     <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                     </div>

                </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Product.CategoryId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                                <option disabled selected>--Выберите категорию--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Product.ApplicationTypeId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="Product.ApplicationTypeId" asp-items="@Model.ApplicationTypeSelectList" class="form-control">
                                <option disabled selected>--Выберите тип--</option>
                            </select>
                            <span asp-validation-for="Product.ApplicationTypeId" class="text-danger"></span>
                        </div>
                    </div>
                
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Product.Id != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-info 100" value="Update"/>
                            }
                            else
                            {
                                //create
                                <input type="submit" class="btn btn-primary 100" value="Create"/>
                            }
                            
                        </div>
                        <div class="col">
                            <a href="/Product/Index" class="btn btn-success 100"><i class="bi bi-box-arrow-left"></i>Назад</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if (Model.Product.Id != 0)
                {
                    <img src="@WC.ImagePath@Model.Product.Image" width="100" style="border-radius:5px; border:1px solid #bbb"/>
                }
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>
@section Scripts{
    <script>
        function validateInput() {
            if (document.getElementById("uploadBox").Value == "")
            {
                Swal.Fire(
                    'Error!',
                    'Добавте картинку',
                    'Error!'
                )
                return false;
            }
            return true;
        }
    </script>
} 